@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
	box-sizing: border-box;
	font-family: Roboto;
}

body {
	box-sizing: border-box;
	margin:0;
	padding:0;
}