.overview {
	position: relative;
	user-select: none;
}
.overview-scroller {
	width: 800px;
	overflow-x: scroll;
	overflow-y: visible;
	margin-left:111px;
	padding-bottom:10px;
}
.overview-table {
	font-size: 0.75em;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	word-wrap: nowrap;
}
.overview-table th:first-child,
.overview-table td:first-child {
	position:absolute;
	width:100px;
	z-index:1;
	left:0;
}

.overview-table th, 
.overview-table td {
	border: 1px dotted rgba(0,0,0,0.25);
	padding: 3px 5px;
	min-width: 60px;
	position: relative;
}
.overview-table tbody tr:hover td:before{
	content: " ";
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(150,150,150,0.25);
} 
.overview-table tbody td:not(.overview-month):hover {
	border: 1px solid rgba(0,0,0,0.5);
	cursor:pointer;
}

.overview-table .overview-title-row th,
.overview-table .overview-totals-row td {
	color: #fff;
	font-weight: 800;
	border:none;
}
.overview-table .overview-subtitle-row th:not(.overview-year) {
	font-weight: 600;
	border-top: none;
}
.overview-table .overview-subtotals-row td:not(.overview-subtotals) {
	font-weight: 600;
	border-bottom: none;
}
.overview-table .overview-hidden {
	border: none;
}
.overview-table .overview-year {
	text-align: right;
	border-bottom: none;
}
.overview-table .overview-month,
.overview-table .overview-subtotals {
	text-align: right;
	font-weight: 600;
}
.overview-table .overview-totals-row .overview-totals-tag {
	text-align: right;
}

.overview-table .overview-transport { background-color: #f8e1f1; }
.overview-table .overview-title-row .overview-transport,
.overview-table .overview-totals-row .overview-transport { background-color: #ff00ff; }
.overview-table .overview-nourriture { background-color: #c9daf8; }
.overview-table .overview-title-row .overview-nourriture,
.overview-table .overview-totals-row .overview-nourriture { background-color: #4a86e6; }
.overview-table .overview-services { background-color: #fbe5cd; }
.overview-table .overview-title-row .overview-services,
.overview-table .overview-totals-row .overview-services { background-color: #fe9900; }
.overview-table .overview-habitation { background-color: #f4cccc; }
.overview-table .overview-title-row .overview-habitation,
.overview-table .overview-totals-row .overview-habitation { background-color: #fd0005; }
.overview-table .overview-assurances { background-color: #dad2e9; }
.overview-table .overview-title-row .overview-assurances,
.overview-table .overview-totals-row .overview-assurances { background-color: #9b00fc; }
.overview-table .overview-personnel { background-color: #d8ead0; }
.overview-table .overview-title-row .overview-personnel,
.overview-table .overview-totals-row .overview-personnel { background-color: #68a94f; }
