.overview {
	position: relative;
	user-select: none;	
	font-family: 'Open Sans', sans-serif;
}
.overview + .overview {
	margin-top: 30px;
}
.overview-scroller {
	overflow-x: scroll;
	overflow-y: visible;
	margin-left:111px;
	padding-bottom:10px;
}
.overview-table {
	font-size: 0.75em;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	word-wrap: nowrap;
}

/*.overview-total .overview-scroller {
	width:auto;
	overflow-x:visible;
	padding:0;
}*/

.overview-table th:first-child,
.overview-table td:first-child {
	position:absolute;
	width:113px;
	z-index:1;
	left:0;
	text-align:right;
}
.overview-table th, 
.overview-table td {
	border: 1px dotted rgba(0,0,0,0.25);
	padding: 3px 5px;
	min-width: 60px;
	position: relative;
}
.overview-total .overview-table th, 
.overview-total .overview-table td {
	min-width:80px;
}

.overview:not(.overview-total) .overview-table tbody tr:hover td:before{
	content: " ";
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(150,150,150,0.25);
} 
.overview-total .overview-table tbody td:not(:last-child):not(:first-child):hover,
.overview:not(.overview-total) .overview-table tbody td:not(:first-child):hover {
	border: 1px solid rgba(0,0,0,0.5);
	cursor:pointer;
}

.overview-table .overview-title-row th,
.overview-table td.overview-title-column,
.overview-table .overview-total-row td,
.overview-table  td.overview-total-column {
	color: #fff;
	font-weight: 800;
}
.overview-table .overview-title-row th,
.overview-table .overview-total-row td,
.overview-table  td.overview-total-column {
	border:none;
}
.overview-table .overview-subtitle-row th:not(.overview-year) {
	font-weight: 600;
	border-top: none;
}
.overview-table .overview-subtotal-row td:not(.overview-subtotal) {
	font-weight: 600;
	border-bottom: none;
}
.overview-table .overview-hidden {
	border: none;
}
.overview-table .overview-year {
	border-bottom: none;
}
.overview-table .overview-month,
.overview-table .overview-subtotal {
	font-weight: 600;
}
.overview-table .overview-month:hover:not(:last-child) {
	border: 1px solid #666;
	cursor:pointer;
}
.overview-table .overview-total-row .overview-total-tag {
	text-align: right;
}

.overview-total .overview-revenus {
	display: none;
}

.overview-spending-title,
.overview-spending-total {
	color: red;
	font-weight:600;
}
.overview-revenue-title,
.overview-revenue-total {
	color: green;
	font-weight:600;
	border-bottom:1px solid #aaa!important;
}
.overview-total-total-row .overview-total-title {
	font-weight:700;
	background:#aaa;
	color:#fff;
	border-top:none!important;
}
.overview-total-total-row .overview-total-total {
	border-left: 1px solid #aaa;
}
.overview-total-total-row {
	font-weight:600;
	border:solid 1px #aaa;
	background:#f6f6f6;
}

.overview-table .overview-transport { background-color: #f8e1f1; }
.overview-table .overview-title-row .overview-transport,
.overview-table .overview-title-column.overview-transport,
.overview-table .overview-total-row .overview-transport,
.overview-table .overview-total-column.overview-transport { background-color: #ff00ff; }
.overview-table .overview-nourriture { background-color: #c9daf8; }
.overview-table .overview-title-row .overview-nourriture,
.overview-table .overview-title-column.overview-nourriture,
.overview-table .overview-total-row .overview-nourriture,
.overview-table .overview-total-column.overview-nourriture { background-color: #4a86e6; }
.overview-table .overview-services { background-color: #fbe5cd; }
.overview-table .overview-title-row .overview-services,
.overview-table .overview-title-column.overview-services,
.overview-table .overview-total-row .overview-services,
.overview-table .overview-total-column.overview-services { background-color: #fe9900; }
.overview-table .overview-habitation { background-color: #f4cccc; }
.overview-table .overview-title-row .overview-habitation,
.overview-table .overview-title-column.overview-habitation,
.overview-table .overview-total-row .overview-habitation,
.overview-table .overview-total-column.overview-habitation { background-color: #fd0005; }
.overview-table .overview-assurances { background-color: #dad2e9; }
.overview-table .overview-title-row .overview-assurances,
.overview-table .overview-title-column.overview-assurances,
.overview-table .overview-total-row .overview-assurances,
.overview-table .overview-total-column.overview-assurances { background-color: #9b00fc; }
.overview-table .overview-personnel { background-color: #d8ead0; }
.overview-table .overview-title-row .overview-personnel,
.overview-table .overview-title-column.overview-personnel,
.overview-table .overview-total-row .overview-personnel,
.overview-table .overview-total-column.overview-personnel { background-color: #68a94f; }
.overview-table .overview-revenus { background-color: #eee; }
.overview-table .overview-title-row .overview-revenus,
.overview-table .overview-title-column.overview-revenus,
.overview-table .overview-total-row .overview-revenus,
.overview-table .overview-total-column.overview-revenus { background-color: #aaa; }
